{% extends 'mobile/index.html' %}
{% load static %}


{% block mobilebody %}


<div id="appCapsule">

    <div class="section mt-2">
        <div class="section-title">Commande {{commandestype}}</div>
        <div class="card">

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Total</th>
                            <th scope="col">Telephone</th>
                            <th scope="col" class="text-end">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in data %}
                        <tr>
                            <th scope="row">{{i.trackingnumber}}</th>
                            <td>{{i.total}}</td>
                            <td>
                                <a href="tel:{{i.telephone}}" class="badge badge-secondary">
                                    {{i.telephone}}
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'app:commandeEdit' i.pk %}" class="badge badge-secondary">
                                    <ion-icon name="create-outline" role="img" class="md hydrated"></ion-icon>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>


{% endblock mobilebody %}
